
.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

/* Setting the castMeudon background as a placeholder for now, customized realm background will be based on api response */
.my-root-class body {
	background: url(./assets/CastMeudon.jpg) no-repeat center center fixed; 
	background-size: 100%;
}