/* CSS styles */
body {
  margin: 0;
  overflow: hidden;
  background: url('../keycloak-theme/login/assets/background.png') no-repeat center center;
  /* Replace with your actual background image */
  background-size: cover;
  font-family: 'Work Sans';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 100px;
}

.account-link {
  color: white;
}

.token-info {
  color: white;
}

.logout-button,
.login-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.footer {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.logo-container {
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}